.form-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.7);
  min-width: 70vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -10px rgba(255, 255, 255, 0.64);
  -webkit-box-shadow: 10px 10px 10px -10px rgba(255, 255, 255, 0.64);
  -moz-box-shadow: 10px 10px 10px -10px rgba(255, 255, 255, 0.64);
}

.contact-me {
  text-align: center;

  font-size: 4rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  padding: 0.5rem;
}

.error-message {
  font-size: 2rem;
  color: rgb(225, 37, 37);
  transition: 1.5s;
}

.success-message {
  font-size: 2rem;
  color: rgb(57, 140, 36);
  transition: 1.5s;
}

.success {
  border: 2px green solid;
}

.error {
  border: 2px red solid;
}

textarea {
  resize: none;
}

button[type="submit"] {
  margin-top: 2rem;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
  border: none;
  font-size: 3rem;
  padding: 1rem;
  background-color: rgb(58, 58, 172);
  color: rgb(214, 207, 207);
  transition: 0.5s;
}

input,
textarea {
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  outline: none;
}

.text-email-input {
  padding: 0.5rem;
  width: 30rem;
}

button[type="submit"]:hover {
  color: rgb(58, 58, 172);
  background: rgb(214, 207, 207);
}

button[type="submit"]:active {
  transform: translateY(5%);
}

.background2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 754px) {
  .background2 {
    height: 137%;
    top: -20%;
    transform: rotate(90deg);
    right: -12%;
  }
}

@media screen and (max-width: 600px) {
  .background2 {
    display: none;
  }
}
