/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: rgb(218, 212, 212);
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: $header1;
}
li,
button,
label,
input,
a,
p {
  font-size: $text;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4,
h5 {
  font-size: $header4;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $gray-text;
}

.fa-linkedin {
  transition: 0.5s;
  background-image: radial-gradient(at center, #0072b1 60%, transparent 60%);
}

.fa-linkedin:hover {
  color: #0072b1;
  background-image: radial-gradient(at center, white 60.8%, transparent 60%);
  animation: icon 0.2s ease infinite alternate;
}

.fa-github {
  transition: 0.5s;
  color: white;
  background-image: radial-gradient(at center, black 60%, transparent 60%);
}

.fa-github:hover {
  color: black;
  animation: icon 0.2s ease infinite alternate;
  background-image: radial-gradient(at center, white 60%, transparent 60%);
}

.fa-desktop {
  color: black;
}

.svg-inline--fa.fa-desktop.fa-w-18.fa-2x {
  position: absolute;
  bottom: -2px;
}

.fa-circle:hover {
  animation: icon 0.2s ease infinite alternate;
  color: black;
}

.fa-desktop:hover {
  animation: icon 0.2s ease infinite alternate;
  color: white;
}
