header {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  width: 70%;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 10rem;
  flex-direction: row;
}

.header-icon {
  margin-right: 1rem;
}

.header-sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
}

.active {
  background: #154353;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.active:hover {
  background: rgb(147, 139, 139);
  color: #154353;
}

.link {
  letter-spacing: 1.5px;
  transition: 0.5s ease all;
}

.link:hover {
  color: black;
  background: white;
}
