main {
  min-height: 80vh;
}

.intro {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  backface-visibility: hidden;

  .salutation {
    font-size: 2.5rem;
    animation: salutationAnimation 1s ease-in;
  }

  .skills {
    text-align: left;
    margin: 2rem 0rem;
    animation: moveInRight 2s ease-in;
  }

  .skills p {
    padding: 0;
    margin: 0;
  }

  .i-am,
  .techs {
    color: rgb(228, 152, 10);
  }

  .surname {
    color: #6993c4;
    font-size: 5.5rem;
  }

  .stack {
    color: #6993c4;
    animation: salutationAnimation 1.5s ease-in;
  }

  .name-title {
    font-size: $header2;
    animation: moveInLeft 1.5s ease-in;
  }

  h3 {
    font-size: 4rem;
    padding: 0;
    backface-visibility: hidden;
  }

  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 3rem;
  padding-bottom: 1rem;
  a {
    margin-right: 3rem;
  }
}

.intro-text,
.intro-image {
  flex: 1 1 40rem;
}

.see-more {
  animation: moveInBottom 1.5s ease-in 0.75s;

  animation-fill-mode: backwards;
}

@keyframes icon {
  to {
    transform: rotateZ(-3deg);
  }
  from {
    transform: rotateZ(3deg);
  }
}

@keyframes salutationAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
