main {
  min-height: 80vh;
}

.intro {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .salutation {
    font-size: 2.5rem;
  }

  .skills {
    text-align: left;
    margin: 2rem 0rem;
  }

  .skills p {
    padding: 0;
    margin: 0;
  }

  .i-am,
  .techs {
    color: rgb(228, 152, 10);
  }

  .surname {
    color: #6993c4;
    font-size: 5.5rem;
  }

  .stack {
    color: #6993c4;
  }

  h2 {
    font-size: $header2;
  }

  h3 {
    font-size: 4rem;
    padding: 0;
  }

  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 3rem;
  padding-bottom: 1rem;
  a {
    margin-right: 3rem;
  }
}

.intro-text,
.intro-image {
  flex: 1 1 40rem;
}

@keyframes icon {
  to {
    transform: rotateZ(-3deg);
  }
  from {
    transform: rotateZ(3deg);
  }
}
