.projects-section {
  min-height: 90vh;
  width: 90%;
  margin: 2rem auto 2rem auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  text-align: center;
}

.project-icons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project {
  border: 5px #154353 solid;

  background-image: url("../images/splash.svg");
}

.project img {
  width: 90%;
  margin: 20px;
  transition-timing-function: ease-in-out;
  transition: 0.5s ease-in-out;
  border: 10px solid black;
  border-radius: 10px;
}

.project img:hover {
  filter: grayscale(1) blur(3px);
}

.see-more {
  margin-bottom: 3rem;
  display: inline-block;
}

.container {
  position: relative;
  width: 100%;
}

.view-project-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .fa-github,
  .fa-desktop {
    margin: 10px;
    z-index: 1;
  }

  .fa-layers {
    margin: 10px;
  }
}

.description {
  transition: 0.9s;
}

.project-description-span {
  mark {
    background-color: #154353;
    color: white;
  }
}

@media screen and (max-width: 450px) {
  .project-icons-container {
    width: 100%;

    mark {
      font-size: 1.7rem;
      padding: 3px;
    }
  }
}
