.projects-section {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  text-align: center;
}

.project {
  border: 5px #154353 solid;

  background-image: url("../images/splash.svg");
  background-size: 1000px;
}

.project img {
  width: 75%;
  margin: 30px;
  transition: 0.5s;
  border: 10px solid black;
  border-radius: 10px;
}

.project img:hover {
  transform: scale(1.1);
}
